/* 全局样式表 */
html,body,#app{
    margin: 0;
    padding: 0;
    height: 100%;
}

.el-breadcrumb{
    margin-bottom: 15px;
}
.mt10{
    margin-top: 10px;
}
.mt15{
    margin-top: 15px;
}
.el-table th.gutter{
    display: table-cell!important;
}