/* 全局样式表 */
html,body,#app{
    margin: 0;
    padding: 0;
    height: 100%;
}

.el-breadcrumb{
    margin-bottom: 15px;
}
.mt10{
    margin-top: 10px;
}
.mt15{
    margin-top: 15px;
}
.mt20{
    margin-top: 20px;
}
.mt25{
    margin-top: 25px;
}
.mt30{
    margin-top: 30px;
}
.el-table th.gutter{
    display: table-cell!important;
}
.top{
    border-top: 1px solid #f3f1f1
}
.bottom{
    border-bottom: 1px solid #f3f1f1
}
.vcenter{
    display: flex;
    align-items: center
}
.demo-block .el-tag{
    margin: 10px 10px 10px 0;
}
.ql-editor{
    min-height: 300px;
}